# Hugo build output
public/
resources/
.hugo_build.lock

# dependencies
node_modules/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Claude Code
.claude/
